.containerUno{
	border:solid 4px;
	margin-bottom: 10px;
	display: flex;
	flex-direction:row-reverse;
}
.containerUno a{
	flex-grow:1;
}

.containerDos{
	display: flex;
	border:solid 4px;
	margin-bottom: 10px;
	justify-content:center;
	height: 300px;
	align-items:center;
}
.containerDos a{
	margin-right: 10px;
}
.containerTres{
	border:solid 4px;
	margin-bottom: 10px;
}